*~
*.o
2LPT-HALOGEN
halogen
fit
2LPT
#*#
*.h.gch
examples/*/output/*halos
examples/FULL_HALOGEN/output/*GOLIAT*
examples/ONLY_HALOGEN/output/*GOLIAT*
examples/ONLY_2LPT/output/*GOLIAT*
examples/*/output/*snap*
